-- MySQL dump 10.13  Distrib 8.4.7, for Win64 (x86_64)
--
-- Host: localhost    Database: cho_nong_san
-- ------------------------------------------------------
-- Server version	8.4.7

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bai_viet`
--

DROP TABLE IF EXISTS `bai_viet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bai_viet` (
  `mabv` int NOT NULL AUTO_INCREMENT,
  `madm` int NOT NULL,
  `mand` int NOT NULL,
  `tieu_de` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tom_tat` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `noi_dung` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `hinh_anh` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `luot_xem` int DEFAULT '0',
  `trang_thai` tinyint(1) DEFAULT '1',
  `ngay_tao` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`mabv`),
  KEY `fk_bv_dm` (`madm`),
  KEY `fk_bv_nd` (`mand`),
  CONSTRAINT `fk_bv_dm` FOREIGN KEY (`madm`) REFERENCES `danh_muc` (`madm`),
  CONSTRAINT `fk_bv_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bai_viet`
--

LOCK TABLES `bai_viet` WRITE;
/*!40000 ALTER TABLE `bai_viet` DISABLE KEYS */;
INSERT INTO `bai_viet` VALUES (1,4,1,'Gi├í xo├ái C├ít Chu t─âng mß║ính m├╣a n├┤ng sß║ún 2026','Thß╗ï tr╞░ß╗¥ng ti├¬u thß╗Ñ xo├ái miß╗ün T├óy ghi nhß║¡n mß╗⌐c t─âng gi├í kß╗╖ lß╗Ñc.','<p>Chi tiß║┐t b├ái viß║┐t tin tß╗⌐c n├┤ng sß║ún...</p>','posts/tin_xoai.png',120,1,'2026-07-15 10:00:00');
/*!40000 ALTER TABLE `bai_viet` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `banner`
--

DROP TABLE IF EXISTS `banner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `banner` (
  `mabn` int NOT NULL AUTO_INCREMENT,
  `mand` int NOT NULL,
  `hinh_anh` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `thu_tu_hien_thi` int DEFAULT NULL,
  `trang_thai` tinyint(1) DEFAULT NULL,
  `ngay_tao` datetime DEFAULT NULL,
  PRIMARY KEY (`mabn`),
  KEY `fk_banner_nd` (`mand`),
  CONSTRAINT `fk_banner_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `banner`
--

LOCK TABLES `banner` WRITE;
/*!40000 ALTER TABLE `banner` DISABLE KEYS */;
INSERT INTO `banner` VALUES (1,1,'banner_tet_2026.png',1,1,'2026-01-01 08:00:00'),(2,1,'banner_weekend.png',2,1,'2026-05-28 09:30:00');
/*!40000 ALTER TABLE `banner` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_tiet_don_hang`
--

DROP TABLE IF EXISTS `chi_tiet_don_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chi_tiet_don_hang` (
  `mactdh` int NOT NULL AUTO_INCREMENT,
  `madh` int NOT NULL,
  `masp` int NOT NULL,
  `so_luong` int DEFAULT NULL,
  `don_gia` decimal(12,2) DEFAULT NULL,
  `thanh_tien` decimal(15,2) DEFAULT NULL,
  `han_su_dung_luc_ban` datetime DEFAULT NULL,
  PRIMARY KEY (`mactdh`),
  KEY `fk_ctdh_dh` (`madh`),
  KEY `fk_ctdh_sp` (`masp`),
  CONSTRAINT `fk_ctdh_dh` FOREIGN KEY (`madh`) REFERENCES `don_hang` (`madh`),
  CONSTRAINT `fk_ctdh_sp` FOREIGN KEY (`masp`) REFERENCES `san_pham` (`masp`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_tiet_don_hang`
--

LOCK TABLES `chi_tiet_don_hang` WRITE;
/*!40000 ALTER TABLE `chi_tiet_don_hang` DISABLE KEYS */;
INSERT INTO `chi_tiet_don_hang` VALUES (1,1,1,3,45000.00,135000.00,'2026-08-10 00:00:00'),(2,2,1,3,45000.00,135000.00,'2026-08-10 00:00:00');
/*!40000 ALTER TABLE `chi_tiet_don_hang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chi_tiet_gio_hang`
--

DROP TABLE IF EXISTS `chi_tiet_gio_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chi_tiet_gio_hang` (
  `mactgh` int NOT NULL AUTO_INCREMENT,
  `magh` int NOT NULL,
  `masp` int NOT NULL,
  `so_luong` int DEFAULT NULL,
  PRIMARY KEY (`mactgh`),
  KEY `fk_ctgh_gh` (`magh`),
  KEY `fk_ctgh_sp` (`masp`),
  CONSTRAINT `fk_ctgh_gh` FOREIGN KEY (`magh`) REFERENCES `gio_hang` (`magh`),
  CONSTRAINT `fk_ctgh_sp` FOREIGN KEY (`masp`) REFERENCES `san_pham` (`masp`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chi_tiet_gio_hang`
--

LOCK TABLES `chi_tiet_gio_hang` WRITE;
/*!40000 ALTER TABLE `chi_tiet_gio_hang` DISABLE KEYS */;
/*!40000 ALTER TABLE `chi_tiet_gio_hang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dang_ky_san_pham`
--

DROP TABLE IF EXISTS `dang_ky_san_pham`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dang_ky_san_pham` (
  `madk` int NOT NULL AUTO_INCREMENT,
  `mand` int NOT NULL,
  `masp` int NOT NULL,
  `loai_dang_ky` enum('dat_truoc','dinh_ky') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `so_luong` int DEFAULT NULL,
  `gia_du_kien` decimal(12,2) DEFAULT NULL,
  `chu_ky` enum('hang_tuan','hai_tuan','hang_thang') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dia_chi_giao` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `phuong_thuc_tt` enum('tien_mat','banking') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'tien_mat',
  `ngay_bat_dau` datetime DEFAULT NULL,
  `ngay_giao_tiep_theo` datetime DEFAULT NULL,
  `ngay_ket_thuc` datetime DEFAULT NULL,
  `so_lan_giao` int DEFAULT NULL,
  `so_lan_da_giao` int DEFAULT NULL,
  `trang_thai` enum('dang_hoat_dong','tam_dung','hoan_thanh','da_huy') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'dang_hoat_dong',
  `ghi_chu` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`madk`),
  KEY `fk_dksp_nd` (`mand`),
  KEY `fk_dksp_sp` (`masp`),
  CONSTRAINT `fk_dksp_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`),
  CONSTRAINT `fk_dksp_sp` FOREIGN KEY (`masp`) REFERENCES `san_pham` (`masp`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dang_ky_san_pham`
--

LOCK TABLES `dang_ky_san_pham` WRITE;
/*!40000 ALTER TABLE `dang_ky_san_pham` DISABLE KEYS */;
INSERT INTO `dang_ky_san_pham` VALUES (1,2,3,'dinh_ky',10,30000.00,'hang_thang','123 ─É╞░ß╗¥ng 30/4, Ninh Kiß╗üu, Cß║ºn Th╞í','tien_mat','2026-06-01 00:00:00','2026-07-05 00:00:00','2026-07-08 22:29:41',5,1,'da_huy','Giao gß║ío v├áo ng├áy 5 h├áng th├íng');
/*!40000 ALTER TABLE `dang_ky_san_pham` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `danh_gia`
--

DROP TABLE IF EXISTS `danh_gia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `danh_gia` (
  `madg` int NOT NULL AUTO_INCREMENT,
  `mand` int NOT NULL,
  `masp` int NOT NULL,
  `so_sao` int DEFAULT NULL,
  `binh_luan` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `phan_hoi` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `ngay_danh_gia` datetime DEFAULT NULL,
  `ngay_phan_hoi` datetime DEFAULT NULL,
  PRIMARY KEY (`madg`),
  KEY `fk_dg_nd` (`mand`),
  KEY `fk_dg_sp` (`masp`),
  CONSTRAINT `fk_dg_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`),
  CONSTRAINT `fk_dg_sp` FOREIGN KEY (`masp`) REFERENCES `san_pham` (`masp`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `danh_gia`
--

LOCK TABLES `danh_gia` WRITE;
/*!40000 ALTER TABLE `danh_gia` DISABLE KEYS */;
INSERT INTO `danh_gia` VALUES (1,2,1,5,'Xo├ái rß║Ñt ngß╗ìt, ─æ├│ng g├│i kß╗╣, giao h├áng nhanh m├ít.','Cß║úm ╞ín bß║ín ─æ├ú ß╗ºng hß╗Ö Chß╗ú N├┤ng Sß║ún ß║í!','2026-06-04 16:00:00','2026-06-04 16:30:00');
/*!40000 ALTER TABLE `danh_gia` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `danh_muc`
--

DROP TABLE IF EXISTS `danh_muc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `danh_muc` (
  `madm` int NOT NULL AUTO_INCREMENT,
  `ten_danh_muc` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `loai` enum('san_pham','bai_viet') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'san_pham',
  `trang_thai` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`madm`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `danh_muc`
--

LOCK TABLES `danh_muc` WRITE;
/*!40000 ALTER TABLE `danh_muc` DISABLE KEYS */;
INSERT INTO `danh_muc` VALUES (1,'Tr├íi C├óy','C├íc loß║íi tr├íi c├óy t╞░╞íi ngon bß╗æn m├╣a','san_pham',1),(2,'Rau Cß╗º Quß║ú','Rau cß╗º hß╗»u c╞í, VietGAP an to├án sinh hß╗ìc','san_pham',1),(3,'Gß║ío & Ng┼⌐ Cß╗æc','Gß║ío ─æß║╖c sß║ún v├á c├íc loß║íi hß║ít dinh d╞░ß╗íng','san_pham',1),(4,'Tin Tß╗⌐c N├┤ng Sß║ún','Tß╗òng hß╗úp tin tß╗⌐c thß╗ï tr╞░ß╗¥ng v├á gi├í cß║ú n├┤ng sß║ún','bai_viet',1),(5,'Mß║╣o Bß║úo Quß║ún','H╞░ß╗¢ng dß║½n mß║╣o bß║úo quß║ún n├┤ng sß║ún t╞░╞íi l├óu','bai_viet',1);
/*!40000 ALTER TABLE `danh_muc` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `don_hang`
--

DROP TABLE IF EXISTS `don_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `don_hang` (
  `madh` int NOT NULL AUTO_INCREMENT,
  `mand` int NOT NULL,
  `tien_giam` decimal(15,2) DEFAULT NULL,
  `ten_nguoi_nhan` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email_nguoi_nhan` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sdt_nguoi_nhan` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loai_don_hang` enum('thuong','dat_truoc','dinh_ky') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tong_tien` decimal(15,2) DEFAULT NULL,
  `tong_da_thanh_toan` decimal(15,2) DEFAULT NULL,
  `tien_coc` decimal(15,2) DEFAULT '0.00',
  `trang_thai` enum('cho_xac_nhan','da_xac_nhan','dang_giao','da_giao','da_huy') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trang_thai_thanh_toan` enum('chua_thanh_toan','da_thanh_toan') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dia_chi_giao` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `ghi_chu` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `ngay_dat` datetime DEFAULT NULL,
  `ngay_giao_du_kien` datetime DEFAULT NULL,
  `ngay_giao_thuc_te` datetime DEFAULT NULL,
  PRIMARY KEY (`madh`),
  KEY `fk_dh_nd` (`mand`),
  CONSTRAINT `fk_dh_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `don_hang`
--

LOCK TABLES `don_hang` WRITE;
/*!40000 ALTER TABLE `don_hang` DISABLE KEYS */;
INSERT INTO `don_hang` VALUES (1,2,13500.00,'Trß║ºn Thß╗ï Mua','thimua.user@gmail.com','0918765432','thuong',121500.00,121500.00,0.00,'da_giao','da_thanh_toan','123 ─É╞░ß╗¥ng 30/4, Ninh Kiß╗üu, Cß║ºn Th╞í',NULL,'2026-06-04 09:00:00','2026-06-04 14:00:00','2026-06-04 14:00:00'),(2,2,0.00,'Trß║ºn Thß╗ï Mua','thimua.user@gmail.com','0918765432','thuong',235000.00,0.00,0.00,'cho_xac_nhan','chua_thanh_toan','180 cao lß╗ù ',NULL,'2026-07-06 07:52:10','2026-07-08 07:52:10',NULL);
/*!40000 ALTER TABLE `don_hang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `don_hang_khuyen_mai`
--

DROP TABLE IF EXISTS `don_hang_khuyen_mai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `don_hang_khuyen_mai` (
  `madhkm` int NOT NULL AUTO_INCREMENT,
  `madh` int NOT NULL,
  `makm` int NOT NULL,
  `tien_giam_ap_dung` decimal(15,2) DEFAULT NULL,
  PRIMARY KEY (`madhkm`),
  UNIQUE KEY `uq_dh_km` (`madh`,`makm`),
  KEY `fk_dhkm_km` (`makm`),
  CONSTRAINT `fk_dhkm_dh` FOREIGN KEY (`madh`) REFERENCES `don_hang` (`madh`),
  CONSTRAINT `fk_dhkm_km` FOREIGN KEY (`makm`) REFERENCES `khuyen_mai` (`makm`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `don_hang_khuyen_mai`
--

LOCK TABLES `don_hang_khuyen_mai` WRITE;
/*!40000 ALTER TABLE `don_hang_khuyen_mai` DISABLE KEYS */;
/*!40000 ALTER TABLE `don_hang_khuyen_mai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `file_hinh_anh`
--

DROP TABLE IF EXISTS `file_hinh_anh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `file_hinh_anh` (
  `maffha` int NOT NULL AUTO_INCREMENT,
  `matnc` int NOT NULL,
  `ten_file` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `duong_dan` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loai_file` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kich_thuoc` float DEFAULT NULL,
  `dinh_dang` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ngay_tao` datetime DEFAULT NULL,
  PRIMARY KEY (`maffha`),
  KEY `fk_fha_tnc` (`matnc`),
  CONSTRAINT `fk_fha_tnc` FOREIGN KEY (`matnc`) REFERENCES `tin_nhan_chat` (`matnc`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `file_hinh_anh`
--

LOCK TABLES `file_hinh_anh` WRITE;
/*!40000 ALTER TABLE `file_hinh_anh` DISABLE KEYS */;
INSERT INTO `file_hinh_anh` VALUES (1,1,'anh_mau_trai_cay.png','uploads/chat/anh_mau.png','image/png',1024.5,'png','2026-06-04 15:31:00');
/*!40000 ALTER TABLE `file_hinh_anh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gio_hang`
--

DROP TABLE IF EXISTS `gio_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gio_hang` (
  `magh` int NOT NULL AUTO_INCREMENT,
  `mand` int NOT NULL,
  `ngay_tao` datetime DEFAULT NULL,
  PRIMARY KEY (`magh`),
  KEY `fk_gh_nd` (`mand`),
  CONSTRAINT `fk_gh_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gio_hang`
--

LOCK TABLES `gio_hang` WRITE;
/*!40000 ALTER TABLE `gio_hang` DISABLE KEYS */;
INSERT INTO `gio_hang` VALUES (1,2,'2026-06-01 11:00:00'),(2,3,'2026-06-02 14:00:00');
/*!40000 ALTER TABLE `gio_hang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hinh_anh_video`
--

DROP TABLE IF EXISTS `hinh_anh_video`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hinh_anh_video` (
  `mahav` int NOT NULL AUTO_INCREMENT,
  `masp` int NOT NULL,
  `duong_dan` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loai` enum('hinh_anh','video') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `thumbnail` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `thu_tu` int DEFAULT NULL,
  `la_chinh` tinyint(1) DEFAULT NULL,
  `ngay_tao` datetime DEFAULT NULL,
  PRIMARY KEY (`mahav`),
  KEY `fk_hav_sp` (`masp`),
  CONSTRAINT `fk_hav_sp` FOREIGN KEY (`masp`) REFERENCES `san_pham` (`masp`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hinh_anh_video`
--

LOCK TABLES `hinh_anh_video` WRITE;
/*!40000 ALTER TABLE `hinh_anh_video` DISABLE KEYS */;
INSERT INTO `hinh_anh_video` VALUES (1,1,'products/xoai_chu_1.png','hinh_anh','products/xoai_chu_1_thumb.png',1,1,'2026-05-20 07:05:00'),(2,1,'products/clip_thu_hoach_xoai.mp4','video','products/video_thumb.png',2,0,'2026-05-20 07:06:00');
/*!40000 ALTER TABLE `hinh_anh_video` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khuyen_mai`
--

DROP TABLE IF EXISTS `khuyen_mai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `khuyen_mai` (
  `makm` int NOT NULL AUTO_INCREMENT,
  `ten_km` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `loai_uu_dai` enum('giam_theo_so_luong','mien_phi_ship') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `dieu_kien_toi_thieu` decimal(15,2) NOT NULL,
  `phan_tram_giam` decimal(5,2) DEFAULT NULL,
  `gia_tri_giam_toi_da` decimal(15,2) DEFAULT NULL,
  `ap_dung_cho` enum('tat_ca','thuong_va_dat_truoc','dinh_ky') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'tat_ca',
  `trang_thai` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`makm`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khuyen_mai`
--

LOCK TABLES `khuyen_mai` WRITE;
/*!40000 ALTER TABLE `khuyen_mai` DISABLE KEYS */;
INSERT INTO `khuyen_mai` VALUES (1,'Giß║úm 5% khi mua tß╗½ 10 sß║ún phß║⌐m (─æ╞ín th╞░ß╗¥ng/─æß║╖t tr╞░ß╗¢c)','giam_theo_so_luong',10.00,5.00,NULL,'thuong_va_dat_truoc',1),(2,'Miß╗àn ph├¡ vß║¡n chuyß╗ân ─æ╞ín tß╗½ 500.000─æ','mien_phi_ship',500000.00,NULL,NULL,'tat_ca',1),(3,'Giß║úm 8% khi ─æ─âng k├╜ giao ─æß╗ïnh kß╗│ tß╗½ 10 sß║ún phß║⌐m/kß╗│','giam_theo_so_luong',10.00,8.00,NULL,'dinh_ky',1);
/*!40000 ALTER TABLE `khuyen_mai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mua_vu`
--

DROP TABLE IF EXISTS `mua_vu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mua_vu` (
  `mamv` int NOT NULL AUTO_INCREMENT,
  `ten_mua` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `thang_bat_dau` tinyint DEFAULT NULL,
  `thang_ket_thuc` tinyint DEFAULT NULL,
  `qua_nam` tinyint(1) DEFAULT '0',
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `trang_thai` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`mamv`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mua_vu`
--

LOCK TABLES `mua_vu` WRITE;
/*!40000 ALTER TABLE `mua_vu` DISABLE KEYS */;
INSERT INTO `mua_vu` VALUES (1,'M├╣a Thu Hoß║ích Rß╗Ö Xo├ái C├ít',4,7,0,'Giai ─æoß║ín xo├ái ch├¡n ngß╗ìt v├á c├│ sß║ún l╞░ß╗úng lß╗¢n nhß║Ñt n─âm',1),(2,'M├╣a Rau Cß╗º ─É├á Lß║ít',11,3,1,'M├╣a rau cß╗º m├ít lß║ính chß║Ñt l╞░ß╗úng cao tß╗½ ─É├á Lß║ít',1);
/*!40000 ALTER TABLE `mua_vu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nguoi_dung`
--

DROP TABLE IF EXISTS `nguoi_dung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nguoi_dung` (
  `mand` int NOT NULL AUTO_INCREMENT,
  `mavt` int NOT NULL,
  `ho_ten` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mat_khau` varchar(225) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sdt` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trang_thai` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`mand`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_nd_vt` (`mavt`),
  CONSTRAINT `fk_nd_vt` FOREIGN KEY (`mavt`) REFERENCES `vai_tro` (`mavt`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nguoi_dung`
--

LOCK TABLES `nguoi_dung` WRITE;
/*!40000 ALTER TABLE `nguoi_dung` DISABLE KEYS */;
INSERT INTO `nguoi_dung` VALUES (1,1,'Admin','admin@gmail.com','$2a$10$0h4ts4JrhflI6mPKpJWaLO7dmCAVvVJJSNg4V7B7c9EkT/2qKhTDK','0901234567',1),(2,2,'Trß║ºn Thß╗ï Mua','thimua@gmail.com','$2a$10$l.km3Wlix89bWH.hB0czdeTs36MXRlc/rus/Js5Mu4pRh8x/8NB8W','0918765432',1),(3,2,'L├¬ V─ân Kh├ích','vankhach@gmail.com','123456','0987654321',1);
/*!40000 ALTER TABLE `nguoi_dung` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phien_chat`
--

DROP TABLE IF EXISTS `phien_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phien_chat` (
  `mapc` int NOT NULL AUTO_INCREMENT,
  `mand` int NOT NULL,
  `session_token` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ngay_bat_dau` datetime DEFAULT NULL,
  `ngay_ket_thuc` datetime DEFAULT NULL,
  `trang_thai` enum('dang_hoat_dong','da_dong') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`mapc`),
  KEY `fk_pc_nd` (`mand`),
  CONSTRAINT `fk_pc_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phien_chat`
--

LOCK TABLES `phien_chat` WRITE;
/*!40000 ALTER TABLE `phien_chat` DISABLE KEYS */;
INSERT INTO `phien_chat` VALUES (1,2,'token_abc123xyz','2026-06-04 15:30:00',NULL,'dang_hoat_dong'),(2,3,'token_def456uvw','2026-06-03 09:00:00','2026-06-03 09:45:00','da_dong'),(3,1,'283558e9b4fe5e4c5b7f3190a4c04d9d','2026-07-13 08:05:39',NULL,'dang_hoat_dong');
/*!40000 ALTER TABLE `phien_chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `san_pham`
--

DROP TABLE IF EXISTS `san_pham`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `san_pham` (
  `masp` int NOT NULL AUTO_INCREMENT,
  `madm` int NOT NULL,
  `ten_san_pham` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gia_ban` decimal(12,2) DEFAULT NULL,
  `so_luong_ton` int DEFAULT NULL,
  `don_vi` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `khu_vuc` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `trang_thai` tinyint(1) DEFAULT NULL,
  `ngay_tao` datetime DEFAULT NULL,
  `han_su_dung` datetime DEFAULT NULL,
  `so_ngay_can_han` int DEFAULT '3',
  `phan_tram_giam_can_han` decimal(5,2) DEFAULT '0.00',
  `trang_thai_hsd` enum('con_han','can_han','het_han') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'con_han',
  PRIMARY KEY (`masp`),
  KEY `fk_sp_dm` (`madm`),
  CONSTRAINT `fk_sp_dm` FOREIGN KEY (`madm`) REFERENCES `danh_muc` (`madm`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `san_pham`
--

LOCK TABLES `san_pham` WRITE;
/*!40000 ALTER TABLE `san_pham` DISABLE KEYS */;
INSERT INTO `san_pham` VALUES (1,1,'Xo├ái C├ít Chu Lß╗Öc Ph├ít',45000.00,497,'Kg','─Éß╗ông Th├íp',NULL,1,'2026-05-20 07:00:00','2026-08-10 00:00:00',3,20.00,'con_han'),(2,2,'C├á Chua Bi Hß╗»u C╞í',35000.00,198,'Kg','─É├á Lß║ít',NULL,1,'2026-05-22 08:30:00','2026-07-28 00:00:00',3,30.00,'can_han'),(3,3,'Gß║ío ST25 Chuß║⌐n Sß║ích',32000.00,1000,'Kg','S├│c Tr─âng',NULL,1,'2026-05-25 09:00:00','2027-05-25 00:00:00',7,0.00,'con_han');
/*!40000 ALTER TABLE `san_pham` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `san_pham_mua_vu`
--

DROP TABLE IF EXISTS `san_pham_mua_vu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `san_pham_mua_vu` (
  `maspmv` int NOT NULL AUTO_INCREMENT,
  `masp` int NOT NULL,
  `mamv` int NOT NULL,
  `so_luong_du_kien` int DEFAULT NULL,
  `so_luong_thuc_te` int DEFAULT NULL,
  `gia_du_kien` decimal(12,2) DEFAULT NULL,
  `ghi_chu` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `han_su_dung_dieu_chinh` datetime DEFAULT NULL,
  PRIMARY KEY (`maspmv`),
  UNIQUE KEY `uq_sp_mv` (`masp`,`mamv`),
  KEY `fk_spmv_mv` (`mamv`),
  CONSTRAINT `fk_spmv_mv` FOREIGN KEY (`mamv`) REFERENCES `mua_vu` (`mamv`),
  CONSTRAINT `fk_spmv_sp` FOREIGN KEY (`masp`) REFERENCES `san_pham` (`masp`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `san_pham_mua_vu`
--

LOCK TABLES `san_pham_mua_vu` WRITE;
/*!40000 ALTER TABLE `san_pham_mua_vu` DISABLE KEYS */;
INSERT INTO `san_pham_mua_vu` VALUES (1,1,1,2000,1850,43000.00,'Xo├ái c├ít chu v├áo m├╣a rß╗Ö, gi├í giß║úm nhß║╣ so vß╗¢i tr├íi vß╗Ñ','2026-08-15 00:00:00'),(2,2,2,500,NULL,33000.00,'C├á chua ─É├á Lß║ít m├╣a ─æ├┤ng, chß║Ñt l╞░ß╗úng tß╗æt nhß║Ñt','2026-07-29 00:00:00');
/*!40000 ALTER TABLE `san_pham_mua_vu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thanh_toan`
--

DROP TABLE IF EXISTS `thanh_toan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thanh_toan` (
  `matt` int NOT NULL AUTO_INCREMENT,
  `madh` int NOT NULL,
  `so_tien` decimal(15,2) DEFAULT NULL,
  `phuong_thuc` enum('tien_mat','banking') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trang_thai` enum('cho_thanh_toan','da_thanh_toan','that_bai') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ma_giao_dich` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `du_lieu_cong` json DEFAULT NULL,
  `ngay_thanh_toan` datetime DEFAULT NULL,
  PRIMARY KEY (`matt`),
  KEY `fk_tt_dh` (`madh`),
  CONSTRAINT `fk_tt_dh` FOREIGN KEY (`madh`) REFERENCES `don_hang` (`madh`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thanh_toan`
--

LOCK TABLES `thanh_toan` WRITE;
/*!40000 ALTER TABLE `thanh_toan` DISABLE KEYS */;
INSERT INTO `thanh_toan` VALUES (1,1,121500.00,'banking','da_thanh_toan','TXN_20260604_999',NULL,'2026-06-04 09:02:00'),(2,2,235000.00,NULL,'cho_thanh_toan',NULL,NULL,'2026-07-06 07:52:10');
/*!40000 ALTER TABLE `thanh_toan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thong_bao`
--

DROP TABLE IF EXISTS `thong_bao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thong_bao` (
  `matb` int NOT NULL AUTO_INCREMENT,
  `mand` int DEFAULT NULL,
  `tieu_de` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `noi_dung` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `hinh_anh` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `loai` enum('he_thong','khuyen_mai','don_hang') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kich_hoat` tinyint(1) NOT NULL DEFAULT '1',
  `da_doc` tinyint(1) DEFAULT NULL,
  `ngay_tao` datetime DEFAULT NULL,
  PRIMARY KEY (`matb`),
  KEY `fk_tb_nd` (`mand`),
  CONSTRAINT `fk_tb_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thong_bao`
--

LOCK TABLES `thong_bao` WRITE;
/*!40000 ALTER TABLE `thong_bao` DISABLE KEYS */;
INSERT INTO `thong_bao` VALUES (1,2,'─É╞ín h├áng ─æ├ú ─æß║╖t th├ánh c├┤ng','─É╞ín h├áng #DH1001 cß╗ºa bß║ín ─æ├ú ─æ╞░ß╗úc tiß║┐p nhß║¡n.',NULL,'don_hang',1,0,'2026-06-04 10:00:00'),(2,1,'B├ío c├ío hß╗ç thß╗æng ─æß╗ïnh kß╗│','Hß╗ç thß╗æng ─æ├ú tß╗▒ ─æß╗Öng tß╗æi ╞░u h├│a t├ái nguy├¬n tuß║ºn n├áy.',NULL,'he_thong',1,1,'2026-06-03 14:20:00');
/*!40000 ALTER TABLE `thong_bao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tin_nhan_chat`
--

DROP TABLE IF EXISTS `tin_nhan_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tin_nhan_chat` (
  `matnc` int NOT NULL AUTO_INCREMENT,
  `mapc` int NOT NULL,
  `vai_tro` enum('user','bot','admin') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `noi_dung` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `loai_phien_only` json DEFAULT NULL,
  `loai_gui_y` enum('san_pham','ho_tro','khuyen_mai') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `thoi_gian` datetime DEFAULT NULL,
  PRIMARY KEY (`matnc`),
  KEY `fk_tnc_pc` (`mapc`),
  CONSTRAINT `fk_tnc_pc` FOREIGN KEY (`mapc`) REFERENCES `phien_chat` (`mapc`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tin_nhan_chat`
--

LOCK TABLES `tin_nhan_chat` WRITE;
/*!40000 ALTER TABLE `tin_nhan_chat` DISABLE KEYS */;
INSERT INTO `tin_nhan_chat` VALUES (1,1,'user','T├┤i muß╗æn t├¼m mua tr├íi c├óy miß╗ün T├óy','{}','san_pham','2026-06-04 15:31:00'),(2,1,'bot','Hß╗ç thß╗æng gß╗úi ├╜ cho bß║ín mß╗Öt sß╗æ sß║ún phß║⌐m nß╗òi bß║¡t:','{\"suggested_ids\": [1]}','san_pham','2026-06-04 15:31:05'),(3,3,'user','xo├ái',NULL,NULL,'2026-07-13 08:05:43'),(4,3,'bot','Dß║í b├¬n em c├│ Xo├ái C├ít Chu Lß╗Öc Ph├ít gi├í 43.000─æ/Kg v├á xo├ái t╞░╞íi ngon gi├í 50.000─æ/kg cß╗▒c kß╗│ ngß╗ìt th╞ím, mß╗¥i bß║ín lß╗▒a chß╗ìn nh├⌐! ≡ƒÑ¡','{\"is_season\": false, \"suggested_ids\": [1, 6]}','san_pham','2026-07-13 08:06:00');
/*!40000 ALTER TABLE `tin_nhan_chat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vai_tro`
--

DROP TABLE IF EXISTS `vai_tro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vai_tro` (
  `mavt` int NOT NULL AUTO_INCREMENT,
  `ten_vai_tro` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `trang_thai` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`mavt`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vai_tro`
--

LOCK TABLES `vai_tro` WRITE;
/*!40000 ALTER TABLE `vai_tro` DISABLE KEYS */;
INSERT INTO `vai_tro` VALUES (1,'Admin','Quß║ún trß╗ï vi├¬n to├án quyß╗ün hß╗ç thß╗æng',1),(2,'User','Ng╞░ß╗¥i d├╣ng/Kh├ích h├áng tham gia s├án',1);
/*!40000 ALTER TABLE `vai_tro` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-26 23:14:56
