-- MySQL dump 10.13  Distrib 8.4.7, for Win64 (x86_64)
--
-- Host: localhost    Database: cho_nong_san
-- ------------------------------------------------------
-- Server version	8.4.7

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `bai_viet`
--

DROP TABLE IF EXISTS `bai_viet`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bai_viet` (
  `mabv` int NOT NULL AUTO_INCREMENT,
  `madm` int NOT NULL,
  `mand` int NOT NULL,
  `tieu_de` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `tom_tat` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `noi_dung` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `hinh_anh` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `luot_xem` int DEFAULT '0',
  `trang_thai` tinyint(1) DEFAULT '1',
  `ngay_tao` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`mabv`),
  KEY `fk_bv_dm` (`madm`),
  KEY `fk_bv_nd` (`mand`),
  CONSTRAINT `fk_bv_dm` FOREIGN KEY (`madm`) REFERENCES `danh_muc` (`madm`),
  CONSTRAINT `fk_bv_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `banner`
--

DROP TABLE IF EXISTS `banner`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `banner` (
  `mabn` int NOT NULL AUTO_INCREMENT,
  `mand` int NOT NULL,
  `hinh_anh` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `thu_tu_hien_thi` int DEFAULT NULL,
  `trang_thai` tinyint(1) DEFAULT NULL,
  `ngay_tao` datetime DEFAULT NULL,
  PRIMARY KEY (`mabn`),
  KEY `fk_banner_nd` (`mand`),
  CONSTRAINT `fk_banner_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `chi_tiet_don_hang`
--

DROP TABLE IF EXISTS `chi_tiet_don_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chi_tiet_don_hang` (
  `mactdh` int NOT NULL AUTO_INCREMENT,
  `madh` int NOT NULL,
  `masp` int NOT NULL,
  `so_luong` int DEFAULT NULL,
  `don_gia` decimal(12,2) DEFAULT NULL,
  `thanh_tien` decimal(15,2) DEFAULT NULL,
  PRIMARY KEY (`mactdh`),
  KEY `fk_ctdh_dh` (`madh`),
  KEY `fk_ctdh_sp` (`masp`),
  CONSTRAINT `fk_ctdh_dh` FOREIGN KEY (`madh`) REFERENCES `don_hang` (`madh`),
  CONSTRAINT `fk_ctdh_sp` FOREIGN KEY (`masp`) REFERENCES `san_pham` (`masp`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `chi_tiet_gio_hang`
--

DROP TABLE IF EXISTS `chi_tiet_gio_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chi_tiet_gio_hang` (
  `mactgh` int NOT NULL AUTO_INCREMENT,
  `magh` int NOT NULL,
  `masp` int NOT NULL,
  `so_luong` int DEFAULT NULL,
  PRIMARY KEY (`mactgh`),
  KEY `fk_ctgh_gh` (`magh`),
  KEY `fk_ctgh_sp` (`masp`),
  CONSTRAINT `fk_ctgh_gh` FOREIGN KEY (`magh`) REFERENCES `gio_hang` (`magh`),
  CONSTRAINT `fk_ctgh_sp` FOREIGN KEY (`masp`) REFERENCES `san_pham` (`masp`)
) ENGINE=InnoDB AUTO_INCREMENT=42 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `dang_ky_san_pham`
--

DROP TABLE IF EXISTS `dang_ky_san_pham`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dang_ky_san_pham` (
  `madk` int NOT NULL AUTO_INCREMENT,
  `mand` int NOT NULL,
  `masp` int NOT NULL,
  `loai_dang_ky` enum('dat_truoc','dinh_ky') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `so_luong` int DEFAULT NULL,
  `gia_du_kien` decimal(12,2) DEFAULT NULL,
  `chu_ky` enum('hang_tuan','hai_tuan','hang_thang') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dia_chi_giao` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `phuong_thuc_tt` enum('tien_mat','vnpay') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'tien_mat',
  `ngay_bat_dau` datetime DEFAULT NULL,
  `ngay_giao_tiep_theo` datetime DEFAULT NULL,
  `ngay_ket_thuc` datetime DEFAULT NULL,
  `so_lan_giao` int DEFAULT NULL,
  `so_lan_da_giao` int DEFAULT NULL,
  `trang_thai` enum('dang_hoat_dong','tam_dung','hoan_thanh','da_huy') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'dang_hoat_dong',
  `ghi_chu` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`madk`),
  KEY `fk_dksp_nd` (`mand`),
  KEY `fk_dksp_sp` (`masp`),
  CONSTRAINT `fk_dksp_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`),
  CONSTRAINT `fk_dksp_sp` FOREIGN KEY (`masp`) REFERENCES `san_pham` (`masp`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `danh_gia`
--

DROP TABLE IF EXISTS `danh_gia`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `danh_gia` (
  `madg` int NOT NULL AUTO_INCREMENT,
  `mand` int NOT NULL,
  `masp` int NOT NULL,
  `so_sao` int DEFAULT NULL,
  `binh_luan` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `phan_hoi` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `ngay_danh_gia` datetime DEFAULT NULL,
  `ngay_phan_hoi` datetime DEFAULT NULL,
  PRIMARY KEY (`madg`),
  KEY `fk_dg_nd` (`mand`),
  KEY `fk_dg_sp` (`masp`),
  CONSTRAINT `fk_dg_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`),
  CONSTRAINT `fk_dg_sp` FOREIGN KEY (`masp`) REFERENCES `san_pham` (`masp`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `danh_muc`
--

DROP TABLE IF EXISTS `danh_muc`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `danh_muc` (
  `madm` int NOT NULL AUTO_INCREMENT,
  `ten_danh_muc` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `loai` enum('san_pham','bai_viet') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'san_pham',
  `trang_thai` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`madm`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `don_hang`
--

DROP TABLE IF EXISTS `don_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `don_hang` (
  `madh` int NOT NULL AUTO_INCREMENT,
  `mand` int NOT NULL,
  `makm` int DEFAULT NULL,
  `tien_giam` decimal(15,2) DEFAULT NULL,
  `ten_nguoi_nhan` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email_nguoi_nhan` varchar(120) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sdt_nguoi_nhan` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loai_don_hang` enum('thuong','dat_truoc','dinh_ky') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tong_tien` decimal(15,2) DEFAULT NULL,
  `tong_da_thanh_toan` decimal(15,2) DEFAULT NULL,
  `tien_coc` decimal(15,2) DEFAULT '0.00',
  `trang_thai` enum('cho_xac_nhan','da_xac_nhan','dang_giao','da_giao','da_huy') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trang_thai_thanh_toan` enum('chua_thanh_toan','da_thanh_toan') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `dia_chi_giao` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `ghi_chu` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `ngay_dat` datetime DEFAULT NULL,
  `ngay_giao_du_kien` datetime DEFAULT NULL,
  `ngay_giao_thuc_te` datetime DEFAULT NULL,
  PRIMARY KEY (`madh`),
  KEY `fk_dh_nd` (`mand`),
  KEY `fk_dh_km` (`makm`),
  CONSTRAINT `fk_dh_km` FOREIGN KEY (`makm`) REFERENCES `khuyen_mai` (`makm`),
  CONSTRAINT `fk_dh_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `file_hinh_anh`
--

DROP TABLE IF EXISTS `file_hinh_anh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `file_hinh_anh` (
  `maffha` int NOT NULL AUTO_INCREMENT,
  `matnc` int NOT NULL,
  `ten_file` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `duong_dan` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loai_file` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kich_thuoc` float DEFAULT NULL,
  `dinh_dang` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ngay_tao` datetime DEFAULT NULL,
  PRIMARY KEY (`maffha`),
  KEY `fk_fha_tnc` (`matnc`),
  CONSTRAINT `fk_fha_tnc` FOREIGN KEY (`matnc`) REFERENCES `tin_nhan_chat` (`matnc`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `gio_hang`
--

DROP TABLE IF EXISTS `gio_hang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `gio_hang` (
  `magh` int NOT NULL AUTO_INCREMENT,
  `mand` int NOT NULL,
  `ngay_tao` datetime DEFAULT NULL,
  PRIMARY KEY (`magh`),
  KEY `fk_gh_nd` (`mand`),
  CONSTRAINT `fk_gh_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `hinh_anh_video`
--

DROP TABLE IF EXISTS `hinh_anh_video`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `hinh_anh_video` (
  `mahav` int NOT NULL AUTO_INCREMENT,
  `masp` int NOT NULL,
  `duong_dan` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loai` enum('hinh_anh','video') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `thumbnail` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `thu_tu` int DEFAULT NULL,
  `la_chinh` tinyint(1) DEFAULT NULL,
  `ngay_tao` datetime DEFAULT NULL,
  PRIMARY KEY (`mahav`),
  KEY `fk_hav_sp` (`masp`),
  CONSTRAINT `fk_hav_sp` FOREIGN KEY (`masp`) REFERENCES `san_pham` (`masp`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `khuyen_mai`
--

DROP TABLE IF EXISTS `khuyen_mai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `khuyen_mai` (
  `makm` int NOT NULL AUTO_INCREMENT,
  `ten_km` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ma_code` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ngay_bat_dau` datetime DEFAULT NULL,
  `ngay_ket_thuc` datetime DEFAULT NULL,
  `so_luong` int DEFAULT NULL,
  `da_su_dung` int DEFAULT NULL,
  `trang_thai` tinyint(1) DEFAULT NULL,
  `loai_khuyen_mai` enum('phan_tram','tien_mat') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `so_luong_toi_thieu` int DEFAULT NULL,
  `phan_tram_giam` decimal(5,2) DEFAULT NULL,
  `gia_tri_giam_toi_da` decimal(15,2) DEFAULT NULL,
  PRIMARY KEY (`makm`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `mua_vu`
--

DROP TABLE IF EXISTS `mua_vu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `mua_vu` (
  `mamv` int NOT NULL AUTO_INCREMENT,
  `ten_mua` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `thang_bat_dau` tinyint DEFAULT NULL,
  `thang_ket_thuc` tinyint DEFAULT NULL,
  `qua_nam` tinyint(1) DEFAULT '0',
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `trang_thai` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`mamv`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `nguoi_dung`
--

DROP TABLE IF EXISTS `nguoi_dung`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `nguoi_dung` (
  `mand` int NOT NULL AUTO_INCREMENT,
  `mavt` int NOT NULL,
  `ho_ten` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `email` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mat_khau` varchar(225) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `sdt` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trang_thai` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`mand`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_nd_vt` (`mavt`),
  CONSTRAINT `fk_nd_vt` FOREIGN KEY (`mavt`) REFERENCES `vai_tro` (`mavt`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `phien_chat`
--

DROP TABLE IF EXISTS `phien_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `phien_chat` (
  `mapc` int NOT NULL AUTO_INCREMENT,
  `mand` int NOT NULL,
  `session_token` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ngay_bat_dau` datetime DEFAULT NULL,
  `ngay_ket_thuc` datetime DEFAULT NULL,
  `trang_thai` enum('dang_hoat_dong','da_dong') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`mapc`),
  KEY `fk_pc_nd` (`mand`),
  CONSTRAINT `fk_pc_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `san_pham`
--

DROP TABLE IF EXISTS `san_pham`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `san_pham` (
  `masp` int NOT NULL AUTO_INCREMENT,
  `madm` int NOT NULL,
  `ten_san_pham` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `gia_ban` decimal(12,2) DEFAULT NULL,
  `so_luong_ton` int DEFAULT NULL,
  `don_vi` varchar(30) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `khu_vuc` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `trang_thai` tinyint(1) DEFAULT NULL,
  `ngay_tao` datetime DEFAULT NULL,
  PRIMARY KEY (`masp`),
  KEY `fk_sp_dm` (`madm`),
  CONSTRAINT `fk_sp_dm` FOREIGN KEY (`madm`) REFERENCES `danh_muc` (`madm`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `san_pham_mua_vu`
--

DROP TABLE IF EXISTS `san_pham_mua_vu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `san_pham_mua_vu` (
  `maspmv` int NOT NULL AUTO_INCREMENT,
  `masp` int NOT NULL,
  `mamv` int NOT NULL,
  `so_luong_du_kien` int DEFAULT NULL,
  `so_luong_thuc_te` int DEFAULT NULL,
  `gia_du_kien` decimal(12,2) DEFAULT NULL,
  `ghi_chu` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`maspmv`),
  UNIQUE KEY `uq_sp_mv` (`masp`,`mamv`),
  KEY `fk_spmv_mv` (`mamv`),
  CONSTRAINT `fk_spmv_mv` FOREIGN KEY (`mamv`) REFERENCES `mua_vu` (`mamv`),
  CONSTRAINT `fk_spmv_sp` FOREIGN KEY (`masp`) REFERENCES `san_pham` (`masp`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `thanh_toan`
--

DROP TABLE IF EXISTS `thanh_toan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thanh_toan` (
  `matt` int NOT NULL AUTO_INCREMENT,
  `madh` int NOT NULL,
  `so_tien` decimal(15,2) DEFAULT NULL,
  `phuong_thuc` enum('tien_mat','momo','zalopay','banking') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `trang_thai` enum('cho_thanh_toan','da_thanh_toan','that_bai') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ma_giao_dich` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `hinh_anh_chuyen_khoan` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `loai_thanh_toan` int DEFAULT NULL,
  `ngay_thanh_toan` datetime DEFAULT NULL,
  PRIMARY KEY (`matt`),
  KEY `fk_tt_dh` (`madh`),
  CONSTRAINT `fk_tt_dh` FOREIGN KEY (`madh`) REFERENCES `don_hang` (`madh`)
) ENGINE=InnoDB AUTO_INCREMENT=35 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `thong_bao`
--

DROP TABLE IF EXISTS `thong_bao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `thong_bao` (
  `matb` int NOT NULL AUTO_INCREMENT,
  `mand` int DEFAULT NULL,
  `tieu_de` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `noi_dung` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `hinh_anh` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `loai` enum('he_thong','khuyen_mai','don_hang') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `kich_hoat` tinyint(1) NOT NULL DEFAULT '1',
  `da_doc` tinyint(1) DEFAULT NULL,
  `ngay_tao` datetime DEFAULT NULL,
  PRIMARY KEY (`matb`),
  KEY `fk_tb_nd` (`mand`),
  CONSTRAINT `fk_tb_nd` FOREIGN KEY (`mand`) REFERENCES `nguoi_dung` (`mand`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tin_nhan_chat`
--

DROP TABLE IF EXISTS `tin_nhan_chat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tin_nhan_chat` (
  `matnc` int NOT NULL AUTO_INCREMENT,
  `mapc` int NOT NULL,
  `vai_tro` enum('user','bot','admin') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `noi_dung` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `loai_phien_only` json DEFAULT NULL,
  `loai_gui_y` enum('san_pham','ho_tro','khuyen_mai') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `thoi_gian` datetime DEFAULT NULL,
  PRIMARY KEY (`matnc`),
  KEY `fk_tnc_pc` (`mapc`),
  CONSTRAINT `fk_tnc_pc` FOREIGN KEY (`mapc`) REFERENCES `phien_chat` (`mapc`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `vai_tro`
--

DROP TABLE IF EXISTS `vai_tro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `vai_tro` (
  `mavt` int NOT NULL AUTO_INCREMENT,
  `ten_vai_tro` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `mo_ta` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci,
  `trang_thai` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`mavt`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-24 10:45:17
